body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#quiz{
    font-family:"Tahoma",sans-serif;
}
#timer{
    float:right;
    font-size: 2em;
}
#app{
    font-size:1.2em;;
    font-family:"HP Simplified",sans-serif;
}
#result{
    font-size: 1em;
}
